.brightbody{
  background-color: azure;
  text-align: center;
}

ul {
  font-family: cursive;
}

.brightlist{
  color:green;
  list-style: none;
}

.darklist {
  color: greenyellow;
  list-style: none;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.bright {
 color:hotpink;
}

.dark {
 color:red;
}

.light {
  color:maroon;
}

#kittenmessage{
  display:none;
  cursor: pointer;
  color:blue;
}

#kittenimg{
  cursor: pointer;
}


#darktoggle {
  background-color: black;
  color:white;  
}

.darkbody{
  background-color: black;
  color:white;
  text-align: center;
  
}